.worktrees/
.idea
.vscode
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
node_modules
dist
build
.next
.out
.serverless
.vercel
bower_components
CVS
RCS
SCCS
_darcs
.hg